.bill-summary{
    margin:12px 14px;
    padding:16px 18px;

    background:#fff;

    border:1px solid #ececec;
    border-radius:18px;
}

.bill-summary h2{
    font-size:20px;
    font-weight:700;
    color:#111827;

    margin-bottom:10px;
}

.bill-row{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:10px;

    font-size:15px;
    color:#374151;
}

.bill-row span:last-child{
    font-weight:600;
}

.free-delivery{
    color:#16a34a;
    font-weight:700;
}

.bill-summary hr{
    border:none;
    border-top:1px solid #ececec;
    margin:12px 0;
}

.bill-total{
    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:18px;
    font-weight:700;
    color:#111827;
}